.separador {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background-image: url("../assets/gente-sentada-viendo-futbol-lugar-publico-noche.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  img {
    width: 10rem;
  }
}