.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    /* Altura deseada para el separador */
    background-image: url("../assets/gente-sentada-viendo-futbol-lugar-publico-noche.png");
    /* URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Fija la imagen de fondo en la pantalla */

    img {
        width: 10rem;
    }
}