@media screen and (min-width: 768px) and (max-width: 991px) {
  /* NAVBAR */
  .logo img {
    width: 7rem;
  }
  
  #navbarNav a {
    margin: 0;
    font-size: 1rem;
  }

  #navbarNav a:hover {
    font-family: "Dela Gothic One", sans-serif;
    color: white;
  }

  #navbarNav li:hover {
    font-family: "Dela Gothic One", sans-serif;
    color: black;
    background-color: rgb(243, 243, 243);  
  }

  /* ... PERIODICO ... */

  .periodico {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }

  .periodico div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;
  }

  .periodico span {
    font-family: "Dela Gothic One", sans-serif;
    color: white;
    font-size: 1.1rem;
  }

  .periodico img {
    width: 70vw;
    max-width: 20rem;
    border: 3px solid white;
    margin: 1rem;
  }

  .periodico a {
    text-align: center;
    text-decoration: none;
  }

  .periodico svg {
    width: 4rem;
  }

  .periodico p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    max-width: 20rem;
    text-align: center;
  }

  .periodico p:hover {
    font-size: 1.2rem;
  }
  
  

  /* ... EVENTOS ... */

  .event-section {
    text-align: center;
    padding: 40px 0;
  }

  .event-section .section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: "Dela Gothic One", sans-serif;
    text-transform: uppercase;
  }

  .event-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .event-card {
    width: 250px;
    margin: 20px;
    text-decoration: none;
    color: #ffffff;
    overflow: hidden;
  }

  .event-card img {
    width: 100%;
    height: auto;
    display: block;
  }

  .event-card h3 {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 1.4rem;
  }

  .event-card p {
    font-family: "Montserrat", sans-serif;
  }

  .event-card h3,
  .event-card p {
    padding: 10px;
    margin: 0;
  }

  /* ... SOMOS REFI ... */

  .somos-refi-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 40px 0;
    background-image: url("./assets/background_somos-refi.png");
    background-size: cover; /* Ajusta la imagen al ancho de la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    color: #ffffff;
  }

  .somos-refi-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 70%;
  }

  .image img {
    width: 80%;
    height: auto;
    border-radius: 0.2rem;
    margin: 1rem;
  }

  .text-container {
    position: relative;
    width: 80%;
    background-color: #000000;
    text-align: center;
    padding: 2rem;
  }

  .text-container h2 {
    font-size: 1.5em;
    font-family: "Dela Gothic One", sans-serif;
    text-transform: uppercase;
  }

  .text-container .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .text-container img {
    width: 8rem;
  }

  .text-container p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  /* ... GALERÍA ... */
  
  .galeria-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    background-color: #000000;
    color: #ffffff;
    background-image: url("./assets/background_nuevo.png");
    background-size: cover;
    background-position: bottom;
  }

  .galeria-section h2 {
    margin: 1rem auto;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
  }

  #carouselExampleControls {
    padding: 0 5rem;
    width: 80%;
    margin: 0 auto 2rem;
  }

  /* ... CONTACTO ... */

  .contact-section {
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    padding: 0;
    background-image: url("./assets/background_contacto.png");
    background-size: cover; /* Ajusta la imagen al ancho de la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    color: white; /* Cambia el color del texto si es necesario */
  }

  .section-title {
    font-size: 2em;
    font-family: "Dela Gothic One", sans-serif;
    margin-bottom: 1rem;
  }

  .contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding: 4rem;
    width: 50%;
  }

  .contact-details {
    font-family: "Montserrat", sans-serif;
    padding: 1rem 2rem 1rem 0;
  }

  .contact-details p a {
    font-size: 1rem;
    padding: 0;
  }

  .map {
    width: 50%;
    padding: 4rem;
    margin: auto;
  }

  .map img {
    width: 100%;
    border-radius: 8px;
  }

  /* ... FOOTER ... */

  .site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 20px;
  }

  .footer-info {
    color: #ffffff;
    flex: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
  }

  .footer-info div {
    width: 25px;
  }

  .footer-logo {
    flex: 1;
    text-align: right;
  }

  .footer-logo img {
    max-width: 150px; /* Tamaño máximo del logo */
    height: auto;
    width: 6rem;
  }
}
