@media screen and (min-width: 992px) {
  /* NAVBAR */
  .logo img {
    width: 7.5rem;
  }

  #navbarNav li {
    margin: 0.5rem;
  }
  
  #navbarNav a {
    padding: 1rem;
    margin: 0;
    font-size: 1.1rem;
  }

  #navbarNav a:hover {
    font-family: "Dela Gothic One", sans-serif;
    color: white;
  }

  #navbarNav li:hover {
    font-family: "Dela Gothic One", sans-serif;
    color: black;
    background-color: rgb(243, 243, 243);  
  }

  /* ... PERIODICO ... */

.periodico {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.periodico div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem;
}

.periodico span {
  font-family: "Dela Gothic One", sans-serif;
  color: white;
  font-size: 1.1rem;
}

.periodico img {
  width: 70vw;
  max-width: 20rem;
  border: 3px solid white;
  margin: 1rem;
}

.periodico a {
  text-align: center;
  text-decoration: none;
}

.periodico svg {
  width: 4rem;
}

.periodico p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  max-width: 20rem;
  text-align: center;
}

.periodico p:hover {
  font-size: 1.2rem;
}
  
  

  /* EVENTOS */

  .event-card {
    width: 300px;
    margin: 2rem;
  }

  .event-card .collapsing, 
  .event-card .collapse.show {
    background: black;
    width: 298px;
    z-index: 1;
  }

  /* ... GALERÍA ... */
  #carouselExampleControls {
    padding: 3rem 8rem;
    max-width: 100rem;
  }

  #carouselExampleControls .carousel-inner {
    width: 50%;
    margin: auto;
  }

  /* ... SOMOS REFI ... */

  .somos-refi-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 40px 0;
    background-image: url("./assets/background_somos-refi.png");
    background-size: cover; /* Ajusta la imagen al ancho de la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    color: #ffffff;
  }

  .somos-refi-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }

  .image {
    width: 50%;
  }

  .image img {
    width: 60%;
    height: auto;
    border-radius: 0.2rem;
  }

  .text-container {
    position: relative;
    width: 50%;
    text-align: center;
    padding: 2rem;
  }

  .text-container h2 {
    font-size: 1.5em;
    font-family: "Dela Gothic One", sans-serif;
    text-transform: uppercase;
  }

  .text-container .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .text-container img {
    width: 8rem;
  }

  .text-container p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  /* ... CONTACTO ... */

  .contact-section {
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    padding: 40px 0;
    background-image: url("./assets/background_contacto.png");
    background-size: cover; /* Ajusta la imagen al ancho de la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    color: white; /* Cambia el color del texto si es necesario */
  }

  /* .section-title {
    font-size: 3rem;
    font-family: "Dela Gothic One", sans-serif;
    margin-bottom: 1rem;
  } */

  .contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* padding: 4rem; */
    width: 50%;
  }

  .contact-info .section-title {
    font-size: 2rem;
    font-family: "Dela Gothic One", sans-serif;
    margin-bottom: 1rem;
  }

  .contact-details {
    font-family: "Montserrat", sans-serif;
  }

  .contact-details .item span {
    font-size: 1.2rem;
    padding: 0;
  }

  .map {
    width: 50%;
    padding: 4rem;
  }

  .map img {
    width: 100%;
    border-radius: 8px;
    max-width: 30rem;
  }

  /* ... FOOTER ... */

  .site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 20px;
  }

  .footer-info {
    font-size: 1.1rem;
  }

  .footer-info div svg {
    width: 2rem;
  }

  .footer-logo {
    flex: 1;
    text-align: right;
  }

  .footer-logo img {
    max-width: 150px; /* Tamaño máximo del logo */
    height: auto;
    width: 7rem;
  }
}
