nav {
  background: linear-gradient(0deg, #000000, #000000, #030303);
}

#burger-icon {
  border: 2px solid transparent;
}

#navbarNav li {
  padding: 1rem;
  text-align: center;
}

#navbarNav li:hover {
  font-family: "Dela Gothic One", sans-serif;
  color: black;
  background-color: rgb(243, 243, 243);  
}

#navbarNav a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
}

#navbarNav a:hover {
  font-family: "Dela Gothic One", sans-serif;
  color: black;
}

.logo {
  position: relative;
}

.logo img {
  width: 6rem;
}

.separador {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem; /* Altura deseada para el separador */
  background-image: url("./assets/gente-sentada-viendo-futbol-lugar-publico-noche.png"); /* URL de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Fija la imagen de fondo en la pantalla */
}

.separador img {
  width: 10rem;
}

/* ... PERIODICO ... */

.periodico {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.periodico div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem;
}

.periodico span {
  font-family: "Dela Gothic One", sans-serif;
  color: white;
  font-size: 1.1rem;
}

.periodico img {
  width: 70vw;
  max-width: 20rem;
  border: 3px solid white;
  margin: 1rem;
}

.periodico a {
  text-align: center;
  text-decoration: none;
}

.periodico svg {
  width: 4rem;
}

.periodico p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  max-width: 20rem;
  text-align: center;
}

.periodico p:hover {
  font-size: 1.2rem;
}


/* ... EVENTOS ... */

.event-section {
  text-align: center;
  padding: 40px 0;
}

.event-section .section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Dela Gothic One", sans-serif;
  text-transform: uppercase;
}

.event-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.event-card {
  width: 250px;
  margin: 10px;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ccc;
  overflow: hidden;
  cursor: pointer;
}

.event-card:hover {
  text-decoration: none;
  color: rgb(243, 243, 243);
}

.event-card p:hover {
  color: rgb(243, 243, 243);
}

.event-card img {
  width: 100%;
  height: auto;
  display: block;
}

.event-card h3 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 1.2rem;
}

.event-card .card-details-container {
  margin: 0.5rem;
}

.event-card .card-details-container .boton-compra {
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
  margin: 0.5rem 0;
}

.event-card .card-details-container .boton-compra svg {
  width: 1.2rem;
}

.event-card .card-details-container .boton-compra a {
  text-decoration: none;
  color: white;
}

.event-card .card-details {
  display: flex;
  flex-direction: row;
}

.event-card .card-details svg {
  margin: 1rem;
  width: 2rem;
}

.event-card .card-details p {
  display: flex;
  margin: auto 0;
  padding: 0 2rem 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-align: left;
}

.event-card h3 {
  padding: 1rem;
  margin: 0;
}

.event-card:hover {
  box-shadow: 0 0 50px rgb(100, 100, 100);
}

.event-card .collapsing, 
.event-card .collapse {
  position: absolute;
}

.event-card .collapsing, 
.event-card .collapse.show {
  background: rgb(0, 0, 0);
  width: 248px;
  z-index: 1;
  /* box-shadow: 0 10px 12px rgb(0, 0, 0); */
}

/* ... SOMOS REFI ... */

.somos-refi-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  background-image: url("./assets/background_somos-refi.png");
  background-size: cover; /* Ajusta la imagen al ancho de la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  color: #ffffff;
}

.somos-refi-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

/* .somos-refi-content .image {
  width: 40rem;
} */

.somos-refi-content .image img {
  width: 80%;
  height: auto;
  border-radius: 0.2rem;
}

.text-container {
  position: relative;
  width: 90%;
  background-color: #000000;
  text-align: center;
  padding: 2rem;
}

.text-container h2 {
  font-size: 1.5em;
  font-family: "Dela Gothic One", sans-serif;
  text-transform: uppercase;
}

.text-container .title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-container img {
  width: 5rem;
  margin: 0.5rem;
}

.text-container .text {
  max-height: 25rem;
  overflow: auto;
  margin: 1rem 0;
}

.text-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  padding: 0.5rem;
}

.text-container span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem;
  font-weight: 700;
}

/* ... GALERÍA ... */
.galeria-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
  background-color: #000000;
  color: #ffffff;
  background-image: url("./assets/background_nuevo.png");
  background-size: cover;
  background-position: bottom;
}

.galeria-section h2 {
  margin: 1rem auto;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

#carouselExampleControls {
  padding: 1.5rem;
}

/* ... CONTACTO ... */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0;
  background-image: url("./assets/background_contacto.png");
  background-size: cover; /* Ajusta la imagen al ancho de la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  color: white; /* Cambia el color del texto si es necesario */
}

.contact-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.contact-info .section-title {
  font-size: 1.4em;
  font-family: "Dela Gothic One", sans-serif;
  margin-bottom: 1rem;
  background-color: #000000;
  padding: 1rem;
}

.contact-details {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  padding: 1rem;
}

.contact-details .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.contact-details .item div {
  margin: 0.2rem 0.5rem;
}

.contact-details .item svg {
  width: 1.5rem;
  height: 1.5rem;
}

.contact-details .item span {
  font-size: 1rem;
}

.contact-details .item span a {
  color: white;
}

.contact-details p a {
  font-size: 1rem;
  padding: 0;
}

.map {
  width: 100%;
  padding: 0 2rem 2rem;
  text-align: center;
}

.map img {
  width: 100%;
  max-width: 20rem;
  margin: auto;
  border-radius: 8px;
}

/* ... FOOTER ... */

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 20px;
}

.footer-info {
  display: flex;
  align-items: center;
  color: #ffffff;
  flex: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
}

.footer-info div {
  width: 60px;
}

.footer-info div img {
  width: 1.5rem;
  margin: 0.5rem;
}

.footer-logo {
  flex: 1;
  text-align: right;
  margin-right: 1.5rem;
}

.footer-logo img {
  width: 4rem;
}

/* BOTÓN DE VOLVER AL INICIO */
#back-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 2.5rem;
}
