@media screen and (min-width: 768px) and (max-width: 991px) {
  /* ... EVENTOS ... */

  .event-section {
    text-align: center;
    padding: 40px 0;
  }

  .event-section .section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: "Dela Gothic One", sans-serif;
    text-transform: uppercase;
  }

  .event-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .event-card {
    width: 300px;
    margin: 20px;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }

  .event-card img {
    width: 100%;
    height: auto;
    display: block;
  }

  .event-card h3 {
    font-family: "Dela Gothic One", sans-serif;
  }

  .event-card p {
    font-family: "Roboto Mono", monospace;
  }

  .event-card h3,
  .event-card p {
    padding: 10px;
    margin: 0;
  }

  .event-card:hover {
    border: 3px solid white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
  }

  /* ... MAS Y MENOS ... */

  .hidden-events {
    display: none; /* Oculta los eventos adicionales */
  }

  .buttons {
    text-align: center;
    margin-top: 20px;
  }

  /* ... SOMOS REFI ... */

  .somos-refi-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 40px 0;
    background-image: url("./assets/background_somos-refi.png");
    background-size: cover; /* Ajusta la imagen al ancho de la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    color: #ffffff;
  }

  .somos-refi-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 100%;
  }

  .image img {
    width: 80%;
    height: auto;
    border-radius: 0.2rem;
    margin: 1rem;
  }

  .text {
    position: relative;
    width: 80%;
    background-color: #000000;
    text-align: center;
    padding: 2rem;
  }

  .text h2 {
    font-size: 1.5em;
    font-family: "Dela Gothic One", sans-serif;
    text-transform: uppercase;
  }

  .text .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .text img {
    width: 8rem;
  }

  .text p {
    font-family: "Roboto Mono", monospace;
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  /* ... GALERÍA ... */
  .galeria-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    background-color: #000000;
    color: #ffffff;
    background-image: url("./assets/galeria_background.jpg");
  }

  .galeria-section h2 {
    margin: 1rem auto;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
  }

  #carouselExampleControls {
    padding: 5rem;
  }

  /* ... CONTACTO ... */

  .contact-section {
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    padding: 40px 0;
    background-image: url("./assets/background_contacto.png");
    background-size: cover; /* Ajusta la imagen al ancho de la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    color: white; /* Cambia el color del texto si es necesario */
  }

  .section-title {
    font-size: 2em;
    font-family: "Dela Gothic One", sans-serif;
    margin-bottom: 1rem;
  }

  .contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding: 4rem;
    width: 50%;
  }

  .contact-details {
    font-family: "Roboto Mono", monospace;
  }

  .contact-details p a {
    font-size: 1rem;
    padding: 0;
  }

  .map {
    width: 50%;
    padding: 4rem;
  }

  .map img {
    width: 100%;
    border-radius: 8px;
  }

  /* ... FOOTER ... */

  .site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 20px;
  }

  .footer-info {
    color: #ffffff;
    flex: 1;
    font-family: "Roboto Mono", monospace;
  }

  .footer-logo {
    flex: 1;
    text-align: right;
  }

  .footer-logo img {
    max-width: 150px; /* Tamaño máximo del logo */
    height: auto;
  }
}
