.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
}

.navbar {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}
