.event-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 260px;
  min-height: 20rem;
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: rgb(243, 243, 243);
  }

  p:hover {
    color: rgb(243, 243, 243);
  }

  .fecha {
    border: 1px solid rgb(57, 57, 57);
    border-radius: 6px 6px 0 0;
    background-color: rgb(248, 248, 248);
    color: #000000;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 1rem;
  }

  img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    height: auto;
    display: block;
  }

  h3 {
    background-color: #000000;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
    height: auto;

    &:hover {
      box-shadow: 0 0 10px rgb(39 39 39);
    }
  }

  .card-details-container {
    margin: 0.5rem;

    .buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        text-decoration: none;
        color: white;

        .boton-compra {
          font-weight: bold;
          font-family: "Merriweather Sans", sans-serif;
          margin: 0.5rem 0;
          height: 2.5rem;
          width: 8rem;

          svg {
            width: 1.2rem;
          }
        }
      }

      .boton-copia {
        height: 2.5rem !important;
        width: 5rem;
        font-family: 500;
      }
    }
  }

  .card-details {
    display: flex;
    flex-direction: row;

    svg {
      margin: 1rem;
      width: 2rem;
    }

    p {
      display: flex;
      margin: auto 0;
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      text-align: left;
      max-width: 10.4rem;
      white-space: normal;
    }
  }

  .collapsing,
  .collapse {
    border: 2px solid rgb(17, 17, 17);
    border-radius: 4px;
    position: absolute;
  }

  .collapsing,
  .collapse.show {
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    width: 260px;
    z-index: 1;
  }

  .collapse.show {
    align-items: center;
    height: 100%;
  }
}

.ver-info {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 0.7rem;
    color: black;
    border: 1px solid #46464675;
    padding: 0 0.1rem;
    margin: 0 0 1rem;
    border-radius: 4px;
    width: 7rem;
    height: 1.5rem;

    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}