.contact-section {
  background-color: black;
  color: white;

  .contact-info {
    padding: 1.5rem;

    .contact-details-container {
      background-color: black;
      border-radius: 6px;
      padding: 1rem 0;

      .section-title {
        font-size: 2rem;
        font-family: "Dela Gothic One", sans-serif;

        @media screen and (max-width: 425px) {
          font-size: 1.5rem;
        }
      }
  
      .contact-details {
        font-family: "Montserrat", sans-serif;
        margin: 1rem 0;
    
        .item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
    
          div {
            margin: 0.2rem 0.5rem;
          }
    
          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
    
          span {
            font-size: 1.5rem;

            @media screen and (max-width: 425px) {
              font-size: 1rem;
            }
    
            a {
              color: white;
            }
          }
        }
    
        p {
          a {
            font-size: 1rem;
            padding: 0;
          }
        }
      }
    }

    iframe {
      width: 100%;
      height: 20rem;
      border: 1px solid transparent;
      border-radius: 6px;
    }
  }
}