.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 20px;

  .footer-info {
    display: flex;
    align-items: center;
    color: #ffffff;
    flex: 1;
    font-family: "Montserrat", sans-serif;
    font-size: 0.7rem;

    .icon {
      min-width: 1.5rem;
      width: 1.5rem;
    }
  }

  .footer-logo {
    flex: 1;
    text-align: right;
    margin-right: 1.5rem;

    img {
      width: 4rem;
    }
  }
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 0 0 1.5rem;

  .details {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;

    span {
      text-align: center;
      color: #ce1818;

      a {
        color: #a2a2a2;
        text-decoration: none;
      }
    }
  }
}