.event-section {
  text-align: center;
  padding: 40px 0;

  .section-title {
    font-size: 2rem;
    font-family: "Dela Gothic One", sans-serif;
    text-transform: uppercase;
  }

  .input-group {
    width: 90%;
    max-width: 800px;
    margin: 1.5rem auto;
  }

  h4 {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 700;
  }

  .event-slider {
    padding: 10px 0;
    
    .event-slider-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 10px;
    }
  }
}