.event-section {
  text-align: center;
  padding: 40px 0;

  .section-title {
    font-size: 2rem;
    font-family: "Dela Gothic One", sans-serif;
    text-transform: uppercase;
  }

  .input-group {
    width: 90%;
    max-width: 800px;
    margin: 1.5rem auto 2rem;
  }

  h4 {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 700;
  }

  .event-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}